.advantages{
    padding: 59px 0 53px 0;
    background-color: #f3f3f3;
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-size: 26px;
        margin-bottom: 36px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        width: 518px;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 40px;
        img {
            display: block;
            margin-top: 10px;
        }
    }
    &__descr {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        font-size: 15px;
        width: 430px;
        line-height: 22px;
        span {
            display: block;
            margin-bottom: 15px;
            color: $main-color;
        }
    }
}