.descr {
    padding: 50px 0 60px 0;
    &__title {
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
    }
    hr {
        width: 148px;
        height: 2px;
        margin: 25px auto;
        border: none;
        background-color: $main-color;
    }
    &__subtitle {
        text-align: center;
        font-size: 21px;
        font-weight: 300;
    }
    &__items{
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 360px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        span {
            display: block;
            margin-top: 30px;
            margin-bottom: 17px;
            color: $main-color;
            text-align: center;
            font-weight: 400;
            font-size: 17px;
        }
    }
}