@import './base/variables';
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto';
}
.container {
   width: 1140px; 
   margin: auto;
}
.btn {
   width: 165px;
   height: 45px; 
   border-radius: 20px;
   text-transform: uppercase;
   border: none;
   background-color: $main-color;
   color: #fff;
   font-size: 12px;
   cursor: pointer;
   &:hover{
      background-color: rgba(236, 100, 75, 0.9);
   }
   &_promo {
      display: block;
      margin: 40px auto;
      width: 255px;
      height: 57px;
      font-size: 16px;
      font-weight: 300;
   }
}

@import 'blocks/promo';
@import './blocks/advantages';
@import './blocks/descr';
